<br>
<h3><%=@destination.name%></h3>
<h4>Activities</h4>
<%@destination.activities.each do |activity|%>
  <p><a href="/activities/<%=activity.id%>"><%=activity.name%></a></p>
<% end %>
<a href="/destinations/<%=@destination.id%>/edit">Edit</a>
