<br>
<h3>Your Activities</h3>
<%@activities.each do |activity|%>
  <h4><%=activity.name%></h4>
  <%=activity.description%><br>
  <a href="/activities/<%=activity.id%>/edit">Edit</a>
  <br><br>
<% end %>
