<br>
<h3><%=@activity.destination.name%></h3>
<h4>Your Activities</h4>
<%@activities.each do |activity|%>
  <%=activity.name%>
  <%=activity.description%>
  <a href="/activities/<%=activity.id%>/edit">Edit</a>
  <br>
<% end %>
