<br>
<h3>Add a New Activity</h3>
<form action="/activities" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <br>
  <label>Description</label>
  <input type="text" name="description">
  <br>
  <label>Mark the Destination your Activity belongs to:</label>
  <%@destinations.all.each do |destination|%>
    <label><%=destination.name%><input id="<%destination.name%>" type="checkbox" name="destinations[]" values="<%=destination.id%>"></label>
  <% end %>
  <br>
  <input type="submit" value="Create">
</form>
