<br>
<h3>Add a New Activity</h3>
<form action="/activities" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <br>
  <label>Description</label>
  <input type="text" name="description">
  <br>
  <label>Mark the Destination your Activity belongs to:</label>
  <%@destinations.all.each do |destination|%>
    <input id="<%destination.name%>" type="radio" name="destinations" value="<%=destination.id%>">
    <label for="<%destination.name%>"> <%=destination.name%></label>
  <% end %>
  <br>
  <input type="submit" value="Create">
</form>
